@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Side Navigation */
.sidenav {
    background-color: #A69A71; /* Gold background */
    padding: 20px;
    width: 220px; /* Wider navigation bar */
    color: rgb(255, 255, 255); /* Black text */
    height: 100vh; /* Full height */
    position: fixed; /* Fixed position on the left side */
    display: flex;
    flex-direction: column; /* Items appear vertically */
    font-family: 'Lato', sans-serif;

  }
  

.sidenav a:hover {
    background-color: #DBCC98; /* Darker gold hover color */
}

/* Main Content */
.main-content {
    margin-left: 220px; /* Adjusted margin to account for the sidenav width */
    padding: 20px;
    
}

.channel-header {
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    align-items: center;
    padding: 10px;
    background-color: #fff; /* White channel header background */
    position: relative; /* Set position to relative for absolute positioning */
}

.channel-title {
    font-size: 30px;
    font-weight: bold;
    color: #11044b; /* Dark gray text color */
}

.channel-header button {
    background-color: #0d2848; /* Blue button */
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;

    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}
.upload-button-spacing {
    margin-top: auto;
    margin-bottom: 30px;
}

/*Subheading*/
.subheader {
    background-color: #ffffff; 
    font-size: 20px;
    
    color: rgb(23, 21, 83); 
    padding: 10px 20px; 
    display: flex; 
    align-items: center; 
    font-family: 'Lato', sans-serif;
  }
  
  .subheader a {
    color: #edf1f4; 
    text-decoration: none; 
  }
  
  .subheader a:hover {
    font-weight: bold;
    background-color: #a9a8ef; 
  }
  .subheading button {
    background-color: #ffffff; 
    color: #0d2848;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}
.subheader button:hover {
    text-decoration: underline;
    font-weight: bold;
}
.subheader-space {
    margin: 0 10px; 
}
.subheader button.active {
    text-decoration: underline;
    font-weight: bold;
    position: relative;
}

.subheader button.active::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -4px; /* Adjust as needed */
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: #0d2848; /* Blue color */
}

/*Subheading2*/
.subheader2 {
    background-color: #0d2848; 
    color: #ffff; 
    padding: 5px 20px; 
    gap: 40px;

    display: flex; 
    align-items: center; 
    font-family: 'Lato', sans-serif;
    margin-right: 50px;

  }
  
  .subheader2 a {
    color: #edf1f4; 
    text-decoration: none; 
  }
  
  .subheader2 a:hover {
    background-color: #a9a8ef; /* Darker gold hover color */
  }
  .subheading2 button {
    background-color: #0d2848; 
    color: #ffff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}
.subheader-space2 {
    margin-right: 50px;
}










/* Channel Content */
.channel-content {
    padding: 20px; 
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
    font-family: 'Lato', sans-serif;

}

.video-item {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #fff; 
    font-family: 'Lato', sans-serif;


}

.video-stats {
    font-size: 16px;
    color: #666;
    font-family: 'Lato', sans-serif;

}

.video-stats span {
    margin-right: 130px;
    gap: 20px;


}

.pl-flex {
    display: flex; 
    align-items: center;
    margin-bottom: 15px;
}

.pl-title {
    font-size: 16px;
    margin-right: 20px;
    font-family: 'Lato', sans-serif;

}
.channel-circle {
    display: flex;                   
    flex-direction: column;          
    align-items: center;            
    padding: 10px;  
    border-bottom: 1px solid #666; 
}
  
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #330404; 
    margin-right: 15px;
  }
  
  .channel-name {
    font-size: 15px;
    color: #fff; 
    font-family: 'Lato', sans-serif;

  }


.create-playlist-button {
    margin-top: 10px;
    background-color: #1f1a5c; 
    color: rgb(251, 251, 255);
    border: none;
    padding: 8px 15px;
}
  /* Popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    margin-left: 70px;
    margin-right: 70px;

}

.popup button {
    background-color: #0d2848;
    color: white;
    border: none;
    padding: 6px 10px;
}

.exit-button {
    background-color: #ccc;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 70px;
    margin-left: 90px;


}

.exit-button:hover {
    background-color: #999;
}

.hide-create-playlist-button {
    display: none;
}

/* Update the existing create-playlist-button class */
.create-playlist-button {
    margin-top: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #1f1a5c;
    color: rgb(251, 251, 255);
    border: none;
    padding: 8px 15px;
    display: none; /* Hide by default */
}

.show-create-playlist-button .create-playlist-button {
    display: block;
}
